{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!{% endblock %}

{% block body %}

<div class="associations">
    {% for association in associations %}
        <a class="getAssocId uniqueAssoc" href=" {{path('association_adherer', {'id': association.id})}} " id="{{association.id}}">
            <h3>{{association.name}}</h3>
            <img src="{{ asset('/build/logo_directory/' ~ association.logo) }}"></img>
            <p>{{association.description}}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

 
    const getAssocId = document.getElementsByClassName('getAssocId');
    {# console.log(getAssocId); #}

    for (let i = 0; i < getAssocId.length; i++) {
        getAssocId[i].addEventListener('click', function(e) {
            e.preventDefault();
            const assocId = this.getAttribute('id');
            console.log(assocId);
            axios.get('/association/' + assocId)
            .then(function (response) {
                console.log(response);
                window.location.href = '/association/' + assocId;
            })
            .catch(function (error) {
                console.log(error);
            });
        });
    }
    </script>
{% endblock %}

