{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!{% endblock %}

{% block body %}

<div class="associations">

    {% for association in associations %}
        <a class="getAssocId uniqueAssoc" href=" {{path('association_adherer', {'id': association.id})}} " id="{{association.id}}">
            <h3>{{association.name}}</h3>
            <img src="{{ asset('/build/logo_directory/' ~ association.logo) }}"></img>
            <p>{{association.description}}</p>
        </a>
    {% endfor %}
</div>

<div class="pagination">
    {{ knp_pagination_render(associations) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

 
  const getAssocId = document.querySelectorAll('a.uniqueAssoc');
    console.log(getAssocId);
  

  {# FUNCTION APPEL AJAX #}
  function ajaxGet(e){
      e.preventDefault();
      
      const url = this.href;
      
      axios.get(url).then(function(response){
            let adherer = response.data.adherer;
            if(adherer == true){
                confirm("voulez vous adhérer a cette association ?");
            }
            else{
                confirm("voulez vous quitter cette association ?");
            }
      }).catch(function(error){
            if(error.response.status === 403){
                window.alert('vous devez etre connectez pour adhérer a une association');
            }
            else{
                window.alert('une erreur est survenue');
            }
        });
      };



  {# APPEL AJAX AU CLICK #}
    getAssocId.forEach(function(link) {
        link.addEventListener('click', ajaxGet);
    });




    </script>
{% endblock %}

