{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %} 

<div class="home-container">
    {# {% if userIsAdmin == true %}
        vous etes administrateur de :
        {% for association in associations %}
            <a href="{{ path('admin', {'idAssoc': association.id}) }}">{{ association.name }},</a>
        {% endfor %} #}

    {# {% endif %} #}

<h3>Dernière saisie :</h3>
    <div class="homeCard-container">
        {% for recent in latest %}
            <div class="homeCard">
                <i class="fa-solid fa-hand-holding-heart svg-homecard"></i>
                <h2>{{ recent.dons }}€</h2>
                <h3>Dons</h3>
            </div>
            <div class="homeCard">
                <i class="fa-solid fa-money-check-dollar svg-homecard"></i>
                <h2>{{ recent.aPayer }}€</h2>
                <h3>Remboursement</h3>
            </div>
            <div class="homeCard">
                <i class="fa-solid fa-clock svg-homecard"></i>
                <h2>{{ recent.duree }}</h2>
                <h3>Heure de bénévolat</h3>
            </div>
            <div class="homeCard">
                <i class="fa-solid fa-hand-holding-dollar svg-homecard"></i>  
                <h2>{{ recent.heuresValorisees }}</h2>
                <h3>Bénévolat</h3>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
