{% extends 'base.html.twig' %}

{% block title %}MonCompte{% endblock %}

{% block body %}

<div class="infoPerso">
    <div class="infoPerso-container">
        <p>nom d'utilisateur : </p>
        <p>{{ user.username }}</p>
    </div>
     <div class="infoPerso-container">
        <p> adresse email : </p>
        <p>{{ user.email }}</p>
    </div>
    <div class="infoPerso-container">
        <p> mot de passe : </p>
        <p>********</p>
    </div>
     <div class="infoPerso-container">
        <p> vous avez realisé : </p>

        {% if actions == 1 %}
            <p> {{actions}} saisie</p>
        {% else %}
            <p> {{actions}} saisies </p>
            <p> cliquez <a href="{{ path('recapitulatif') }}">ici</a> pour voir les voir </p>
        {% endif %}
        
    </div>


    {% if app.user.profilPicture != null %}
        <img src="{{ asset('/build/profil_picture/' ~ app.user.profilPicture) }}" alt="" class="user-avatar" />
    {% else %}
        <img src="{{ asset('/build/profil_picture/default_profil.png') }}" alt="" class="user-avatar default" />
    {% endif %}
</div>
{% endblock %}
