{% for action in actions %}
    <tr onclick="window.location='{{ path("recapitulatif_pdf", {"id": action.id, "userId": user.id } ) }}'" class="trtest">
            {# <a href=" {{path("recapitulatif_remove", { 'id' : action.id } )}} " ><i class="fa-solid fa-trash"></i></a>
            <a href="{{ path("recapitulatif_pdf", {'id': action.id, 'userId': user.id } ) }}" target="_blank"><i class="fa-solid fa-file"></i></a>#}
        <td>{{ action.association.name }}</td> 
        <td>{{ action.date|date('d/m/Y') }}</td>
        <td>{{ action.villeDepart }}</td>
        <td>{{ action.villeArrive }}</td>
        <td>{{ action.km }} km</td>
        <td>{{ action.raisons }}</td>
        <td>{{ action.heureDepart|date('H:i') }}</td>
        <td>{{ action.heureArrivee|date('H:i') }}</td>
        <td>{{ action.duree }}</td>
        <td>{{ action.frais }}€</td>
        <td>{{ action.don ?? null}}€</td>
        <td>{{ action.Apayer }}€</td>
        <td>{{ action.heuresValorisees ?? null}}</td>
    </tr>

{% endfor %}
