{% extends 'base.html.twig' %}

{% block title %}Hello RecapitulatifController!{% endblock %}

{% block body %}
 <link href="{{ asset('css/recap.css') }}" rel="stylesheet">



{# CODE POUR LA DERNIERE SAISIE EN DATE #}
{# <div class="latest-table">
 ma dernière saisie en date : 
        {% for action in latest %}
            <table class="table">
                <tr>
                    <th>Association</th>
                    <th>Date</th>
                    <th>Ville de départ</th>
                    <th>Ville d'arrivée</th>
                    <th>Km</th>
                    <th>Raisons</th>
                    <th>Heure de départ</th>
                    <th>Heure d'arrivée</th>
                    <th>Durée</th>
                    <th>Frais</th>
                </tr>
                <tr onclick="window.location='{{ path("recapitulatif_pdf", {"id": action.id, "userId": user.id } ) }}'">
                    <td data-label="Association">{{ action.association.name }}</td>
                    <td data-label="Date">{{ action.date|date('d/m/Y') }}</td>
                    <td data-label="Ville de départ">{{ action.villeDepart }}</td>
                    <td data-label="Ville d'arrivée">{{ action.villeArrive }}</td>
                    <td data-label="Km">{{ action.km }}</td>
                    <td data-label="Raison">{{ action.raisons }}</td>
                    <td data-label="Heure de départ">{{ action.heureDepart|date('H:i') }}</td>
                    <td data-label="Heure d'arrivée">{{ action.heureArrivee|date('H:i') }}</td>
                    <td data-label="Durée">{{ action.duree }}</td>
                    <td data-label="Frais">{{ action.frais }}</td>
                </tr>
            </table>
        {% endfor %}
</div> #}


{% if (actions.getTotalItemCount != 0) and (app.user == true) %}
 <h2> Vous avez fait {{ actions.getTotalItemCount }} saisies </h2>
 
        <div class="totalDiv">
            <select class="selectYear" id="selectYear"></select>
        </div>
    <table class="table">
        <tr>
            <th>Association</th>
            <th>Date</th>
            <th>Ville de départ</th>
            <th>Ville d'arrivée</th>
            <th>Km</th>
            <th>Raisons</th>
            <th>Heure de départ</th>
            <th>Heure d'arrivée</th>
            <th>Durée</th>
            <th>Frais</th>
            <th>Don</th>
            <th>A payer</th>
            <th>Heures valorisées</th>

        </tr>
        <div class="ajaxDivContent">
            {% include "recapitulatif/action_recap.html.twig" %}
        </div>
</table>


{% else %}
    <p>Aucune saisie</p>
{% endif %}

<div class="">
    {{ knp_pagination_render(actions) }}
</div>

{% endblock %}

{% block javascripts %}
{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('recap') }}

{% endblock %}
