{% extends 'base.html.twig' %}

{% block title %}Hello RecapitulatifController!{% endblock %}

{% block body %}
 <link href="{{ asset('css/recap.css') }}" rel="stylesheet">




<div>
 ma dernière saisie en date : 
        {% for action in latest %}
            <table class="table">
                <tr>
                    <th>Association</th>
                    <th>Date</th>
                    <th>Ville de départ</th>
                    <th>Ville d'arrivée</th>
                    <th>Km</th>
                    <th>Raisons</th>
                    <th>Heure de départ</th>
                    <th>Heure d'arrivée</th>
                    <th>Durée</th>
                    <th>Frais</th>
                </tr>
                <tr onclick="window.location='{{ path("recapitulatif_pdf", {"id": action.id, "userId": user.id } ) }}'">
                    <td>{{ action.association.name }}</td>
                    <td>{{ action.date|date('d/m/Y') }}</td>
                    <td>{{ action.villeDepart }}</td>
                    <td>{{ action.villeArrive }}</td>
                    <td>{{ action.km }}</td>
                    <td>{{ action.raisons }}</td>
                    <td>{{ action.heureDepart|date('H:i') }}</td>
                    <td>{{ action.heureArrivee|date('H:i') }}</td>
                    <td>{{ action.duree }}</td>
                    <td>{{ action.frais }}</td>
                </tr>
            </table>
        {% endfor %}
</div>

        <div class="totalDiv">
            <select class="selectYear" id="selectYear"></select>
        </div>

{% if (actions == true) and (app.user == true) %}
 <h2> Vous avez fait {{ actions.getTotalItemCount }} saisies </h2>
    <table class="table">
        <tr>
            <th>Association</th>
            <th>Date</th>
            <th>Ville de départ</th>
            <th>Ville d'arrivée</th>
            <th>Km</th>
            <th>Raisons</th>
            <th>Heure de départ</th>
            <th>Heure d'arrivée</th>
            <th>Durée</th>
            <th>Frais</th>
            <th>Don</th>
            <th>A payer</th>
            <th>Heures valorisées</th>

        </tr>
        <div class="ajaxDivContent">
            {% include "recapitulatif/action_recap.html.twig" %}
        </div>
</table>


{% else %}
    <p>Aucune saisie</p>
{% endif %}

<div class="pagination d-flex justify-content-center">
    {{ knp_pagination_render(actions) }}
</div>

{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('recap') }}

{% endblock %}
