{% extends 'base.html.twig' %}

{% block title %}Hello RecapitulatifController!{% endblock %}

{% block body %}

{{dump(actions)}}

{% if (actions == true) and (app.user == true) %}
    {% for action in actions %}
        <ul>
            <li>{{action.villeDepart}}</li>
            <li>{{action.villeArrive}}</li>
            <li>{{action.km}}</li>
            <li>{{action.raisons}}</li>
            <li>{{action.heureDepart|date('H:i')}}</li>
            <li>{{action.heureArrivee|date('H:i')}}</li>
            <li>{{action.date|date('d/m/Y')}}</li>
        </ul>
    {% endfor %}
{% else %}
    <p>Aucune action</p>
{% endif %}


{% endblock %}
