{% extends 'base.html.twig' %}

{% block title %}Hello RecapitulatifController!{% endblock %}

{% block body %}




<div>
 ma dernière saisie en date : 
        {% for recent in latest %}
            <ul>
                <li>{{ recent.association.name }}</li>
                <li>{{recent.villeDepart}}</li>
                <li>{{recent.villeArrive}}</li>
                <li>{{recent.km}}</li>
                <li>{{recent.raisons}}</li>
                <li>{{recent.heureDepart|date('H:i')}}</li>
                <li>{{recent.heureArrivee|date('H:i')}}</li>
                {# ON CHOPE L'ASSOCIATION DE LA SAISIE AVEC LE USER #}
                <li>{{recent.association.name}}</li>
                <li>{{recent.duree}}</li>
                <li>{{recent.frais}}</li>
                <li>{{recent.date|date('d/m/Y')}}</li>
            </ul>

        {% endfor %}
</div>



{% if (actions == true) and (app.user == true) %}
    {% for action in actions %}
    <div class="ligne">
        <ul>
            <a href=" {{path("recapitulatif_remove", { 'id' : action.id } )}} " target="_blank" ><i class="fa-solid fa-trash"></i></a>
            <a href="{{ path("recapitulatif_pdf", {'id': action.id } ) }}"><i class="fa-solid fa-file"></i></a>
            <li>{{ action.association.name }}</li>
            <li>{{action.villeDepart}}</li>
            <li>{{action.villeArrive}}</li>
            <li>{{action.km}}</li>
            <li>{{action.raisons}}</li>
            <li>{{action.heureDepart|date('H:i')}}</li>
            <li>{{action.heureArrivee|date('H:i')}}</li>
            <li>{{action.date|date('d/m/Y')}}</li>
        </ul>
    </div>
    {% endfor %}
{% else %}
    <p>Aucune saisie</p>
{% endif %}


{% endblock %}
