

<br>
<br>
la saisie numéro {{action.id}}
<br>
<br>

ville de départ : {{action.villeDepart}}
<br>
ville d'arriver :{{action.villeArrive}}
<br>
kilomètres :{{action.km}}
<br>
raisons : {{action.raisons}}
<br>
heure de départ :{{action.heureDepart|date('H:i')}}
<br>
heure d'arrivée : {{action.heureArrivee|date('H:i')}}
<br>
date de l'action : {{action.date|date('d/m/Y')}}
<br>
nom de l'association : {{action.association.name}}
<br>
temps de la mission :{{action.duree}}
<br>
cout de la mission :{{action.frais}}
<br>
date de saisie :{{action.createdAt|date('d/m/Y')}}
<br>
frais km : {{action.fraisKilometrique}}
<br>
charges : {{action.charges}}
<br>
dons : {{action.dons}}
<br>
groupe : {{action.groupe}}
<br>
heures valorisées : {{action.heuresValorisees}}
<br>
dû : {{action.aPayer}}

<br>
<br>

{# a modifier #}
<img src="{{asset("build\logo_directory\9c46fc32d7e4314a1ccf46acb3604306.png")}}" alt=""><img>






{# <table>

<tr>
    <th>test1</th>
    <th>test2</th>
    <th>test3</th>
</tr>

<tr>
    <th>tit1</th>
    <th>tessqdt2</th>
    <th>tesdsqdt3</th>
</tr>

</table> #}
