{% extends 'base.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    <link href="{{ asset('css/choose.css') }}" rel="stylesheet">
    <h2>Choisissez l'association que vous voulez administer :</h2>
    <div class="container">
        {% for association in admin %}
            {# {{ dump(association)}} #}

            <a href="{{ path('admin', {'idAssoc': association.id}) }}" class="assoc-container">
                <h2>{{ association.name }}</h2>
                <img src="{{ asset('/build/logo_directory/' ~ association.logo) }}" class="assoc-img" alt="{{ association.name }}">
            </a>
        {% endfor %}
    </div>

{% endblock %}

