{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{# {{ dump(actions) }} #}




{# CA MARCHE #}

vous etes sur l'administration de 
 {% for assoc in assocs %}
    {{ assoc.name }}
{% endfor %}


        <div class="tableau">
            {% for action in actions %}
                    
                        <div class="ligne">
                            <p>{{ action.user.username }}</p>
                            <p>{{ action.villeDepart }}</p>
                            <p>{{ action.villeArrive }}</p>
                            <p>{{ action.km }}</p>
                            <p>{{ action.raisons }}</p>
                            <p>{{ action.heureDepart|date('H:i') }}</p>
                            <p>{{ action.heureArrivee|date('H:i') }}</p>
                            <p>{{ action.duree }}</p>
                            <p>{{ action.frais }}</p>
                            <p>{{ action.date|date('d/m/Y') }}</p>
                        </div>

                      
            {% endfor %}

        </div>





{% endblock %}
