{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <p>administration de l'utilisateur {{ user.username }}</p>
    {% if userAction == null %}
        <p>Aucune action n'a été effectuée par cet utilisateur</p>
    {% else %}

    <div class="totalDiv">

         <select class="selectYear" id="selectYear"> 

        </select>

    </div>
        {# {{dump(userAction)}} #}

    <h4 class="upperTableau">détails des saisie de l'utilisateur {{ user.username }}</h4>
    <h3 class="totalP"></h3>
     <div class="tableau">
     
        {% for action in userAction %}
            <div class="ligne">
                            <p>{{ action.association.name }}</p>
                            <p>{{ action.user.username }}</p>
                            <p>{{ action.villeDepart }}</p>
                            <p>{{ action.villeArrive }}</p>
                            <p>{{ action.km }}</p>
                            <p>{{ action.raisons }}</p>
                            <p>{{ action.heureDepart|date('H:i') }}</p>
                            <p>{{ action.heureArrivee|date('H:i') }}</p>
                            <p class="duree" data-duree="{{ action.duree }}">durée : {{ action.duree }}</p>
                            <p>{{ action.frais }}</p>
                            <p class="dateAdmin" data-date="{{action.date|date('d/m/Y')}}">{{ action.date|date('d/m/Y') }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}


{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{ encore_entry_script_tags('admin') }}

{% endblock %}