{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{% if app.user == true %}
<div class="form-saisie">
    {{form_start(form)}}
        <div class='rowSaisie'>
            <label>Ville de départ</label>
            {{form_widget(form.villeDepart)}}
        </div>

        <div class='rowSaisie'>
            <label>Ville d'Arrivée</label>
            {{form_widget(form.villeArrive)}}
        </div>

        <div class='rowSaisie'>
            <label>Raisons</label>
            {{form_widget(form.raisons)}}
        </div>

        <div class='rowSaisie'>
            <label>Heure de départ</label>
            {{form_widget(form.heureDepart , {'attr': {'class': 'heureDepart'}}) }}
        </div>

        <div class='rowSaisie'>
            <label>Heure d'arrivée</label>
            {{form_widget(form.heureArrivee, {'attr': {'class': 'heureArrivee'}}) }}
        </div>

        <div class='rowSaisie'>
            <label>durée</label>
            {{form_widget(form.duree)}}
        </div>

        <div class='rowSaisie' id="km">
            <label>Kilomètrage</label>
            {{form_widget(form.km)}}
        </div>

        <div class='rowSaisie'>
            <label>Frais</label>
            {{form_widget(form.frais)}}
        </div>

        <div class='rowSaisie'>
            <label>Date</label>
            {{form_widget(form.date)}}
        </div>
        
        <div class='rowSaisie'>
            <label>frais kilométriques</label>
            {{form_widget(form.fraisKilometrique) }}
        </div>

        <div class='rowSaisie'>
            <label>Association</label>
            {{form_widget(form.association)}}
        </div>

    {{form_end(form)}}
</div>
{% else %}
    <h1>devez etre connectez pour faire une saisie</h1>
{% endif %}


{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    const heuredepart = document.querySelector('#form_heureDepart_hour');
    const minutesdepart = document.querySelector('#form_heureDepart_minute');
    const heurearrivee = document.querySelector('#form_heureArrivee_hour');
    const minutesarrivee = document.querySelector('#form_heureArrivee_minute');
    const duree = document.querySelector('.duration');
    //set default value to heuredepart to 00

   let heureDepartBase =  heuredepart.value = 0;
    let minutesDepartBase = minutesdepart.value = 0;


    [heuredepart, minutesdepart].forEach(evt => {
        evt.addEventListener('change', () => {

                heureDepartBase = heuredepart.value;
                minutesDepartBase = minutesdepart.value;

            });
    });

    //do the same for heurearrivee && minute arrive
    let heureArriveeBase = heurearrivee.value = 0;
    let minutesArriveeBase = minutesarrivee.value = 0;


    [heurearrivee, minutesarrivee].forEach(evt => {
        evt.addEventListener('change', () => {

                heureArriveeBase = heurearrivee.value;
                minutesArriveeBase = minutesarrivee.value;


        let dureeHeure = heureArriveeBase - heureDepartBase;
        let dureeMinute = minutesArriveeBase - minutesDepartBase;
        if(dureeMinute < 0){
            dureeHeure = dureeHeure - 1;
            dureeMinute = 60 + dureeMinute;
        }
        
});

    });

    //calculate the duration





    </script>


    {{ encore_entry_script_tags('saisie') }}

{% endblock %}

